body {
  background-color: rgb(250, 250, 250);
}

.container {
  padding-right: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
  animation-duration: 2s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
.text {
  overflow: hidden;
  width: 50%;
  max-width: 70em;
  margin: auto;
  border: 10px #f0f0ff;
  box-shadow: 0 0.25em 0.5em #ccc, inset 0 0 1em 0.25em #000;
}

.text > div {
  display: inline-block;
  white-space: nowrap;
  animation: defilement-rtl 30s infinite linear; /* défilement */
  cursor: pointer;
  padding: 10px 2em 10px 100%;
  font-size: 1em;
}

.text > div:hover {
  animation-play-state: paused; /* met en pause le défilement */
}
@keyframes defilement-rtl {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  100% {
    -webkit-transform: translate(-100%);
    transform: translate(-100%);
  }
}

@keyframes clignoter {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}
